// Fuentes
$fuentePrincipal:"Quicksand", sans-serif;;
//Media Querys
$telefono:480px;
$tablet:768px;
$desktop:1024px;

//Colores

$primario:#f7f4eb;
$secundario:#455A64;
$negro:#000000;
$blanco:#FFFFFF;
$grisClaro:#f6f6f6;
$grisTitulos:#0f1b1c;
$verde:#83b518;
$verdeClaro:#f0f4ec;
$crema:#f6f3ea;
//Unidades
$separacion:5rem;
//Media Querys
$telefono:480px;
$tablet:768px;
$desktop:1024px;
