@use 'base/variables' as v;
@use 'base/mixins' as m;
.header{
    background-color:v.$primario;
    overflow: hidden;
    font-weight: bold;

    &__inicio{
        @include m.tablet {         
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }

     
        
    }

    &__textoInicio{

        @include m.tablet { 
            font-size: 1.5rem;
        }
    }

    &__icono{
        height: 3rem;
        margin-left: 5rem;
        filter: invert(65%) sepia(35%) saturate(2633%) hue-rotate(36deg) brightness(89%) contrast(97%);
    }
    &__correo, &__direccion ,&__idioma{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        gap:2rem;
    }

    &__RedesSociales{
        display: flex;
        justify-content: space-between;
        margin: 2rem;
    }
    
    &__iconoRedes{
        justify-self: center;  /* Centrar horizontalmente */
        align-self: center;    /* Centrar verticalmente */
    }

    &__iconoRedes img{
        height: 3rem;

        @include m.tablet { 
            
            margin: 2rem;
        }
      
    }


}