@use 'base/variables' as v;
@use 'base/mixins' as m;

.navegacion{
    background-color: v.$primario;
    min-height: 30rem;
    position: relative;
 

    &__logo{
        padding-top: 2rem;
        width: 20rem;
        height: 20rem;
        margin: 0 auto;

        @include m.tablet { 
            width: 12rem;
            height: 12rem;
            margin: 0;
            justify-self: center; 
            align-self: center;   
        }
    }

    &__menu{
        font-size: 5rem;
       
    }

    &__menu ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include m.tablet { 
            flex-direction: column;
            font-size:2rem;
            font-weight: bold;
            justify-content: space-between;
        }

        @include m.desktop { 
            flex-direction: row;
            font-size:2.5rem;
            justify-content: space-between;
            align-items: center;
            margin-top: 5rem;
        }
    }

   &__botones{
    display: flex;
    gap:2rem;
    flex-direction: row;
    align-items:  center;
    justify-content:center;

    @include m.tablet { 
        flex-direction: row;
        justify-content: space-around;
    }

   }
   
   &__icono {
    background-color: v.$blanco;
    display: flex;
    justify-content: center;  
    align-items: center; 
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
    @include m.tablet { 
        width: 20rem;
        height: 20rem;
    }
       
      
        

        @include m.tablet { 
            width: 10rem;
            height: 10rem;
        }
        
   }


    &__icono img {
         height: 8rem;
        width: 8rem;

        @include m.tablet { 
            height: 4rem;
            width: 4rem;
        }
   }
    
   &__grid{

        @include m.tablet { 
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap:5rem;
        }
    
    &__logo , &__menu, &__botones {
        justify-self: center; 
        align-self: center; 
    }
      
   }
   &__carrito {
        table{
            display: none;
        }
        a {
            display: none;
        }

       
       
      
   }
   &__icono:hover{
    
    .navegacion__carrito{
        position: absolute;
        background-color: v.$blanco;
        width: 100%;
        height:auto;
        top: 100%;
        left: 0;


        @include m.tablet { 
            width: 40rem;
            height:40rem;
            
            top: 70%;
             // Para que aparezca debajo del icono
            left:45%; // Alinearlo a la derecha
            bottom: 50%;
        }
           
        @include m.desktop { 
            width: 60rem;
            height:60rem;
            top: 50%;
             // Para que aparezca debajo del icono
            left:50%; // Alinearlo a la derecha
            bottom: 50%;
            background-color: v.$blanco;
        }    

            table{
                display: grid;
                
               
                thead, tbody    {
                    
                    border-bottom: 1px solid v.$negro;
                    margin-bottom: 2rem;

                    tr{
                        padding: 2rem;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                       
                        

                        @include m.tablet { 
                            font-size: 2rem;
                        }

                        @include m.desktop { 
                            font-size: 3rem;
                        }    
                    }


                   
                }
               
                .borrar-producto{
                    background-color: none;
                    border: none;
                    color:red;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                
            }

            a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                height: 6rem;
                background-color: v.$blanco;
                border: 1px solid v.$negro;
                border-radius: 10px;
                color:v.$negro;
                margin: 0 auto;
                font-size: 2.5rem;

            }
        }
    
        

   }


}